@import common

.calendarContainer
	display: flex
	flex-direction: column
	align-items: center
	min-width: 580px

.calendarNav
	display: flex
	justify-content: space-between
	width: 50%
	margin-bottom: 10px
	&-link:hover
		text-decoration: underline

.dayContainer
	width: 50px
	height: 50px
	margin: 15px
	font-size: 16px
	box-sizing: border-box
	display: flex
	justify-content: center
	align-items: center
	transition: background cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s
	&--event
		border: 2px solid $action-color
		border-radius: 50%

		&:hover
			background-color: $action-color
			a
				opacity: 1
				color: #fff